/*
* BODY
*/
body.hold-transition {
  	/* Fix for IE */
  	-webkit-transition: none;
  	-o-transition: none;
  	transition: none;
}
.login-page,
.register-page,
.forgot-page {
  	background: #d2d6de url(../images/login-bg.jpg) top center;
}
.login-box,
.register-box,
.forgot-box {
  	width: 360px;
  	margin: 7% auto;
}
@media (max-width: 768px) {
  	.login-box,
  	.register-box,
	.forgot-box {
    	width: 90%;
    	margin-top: 20px;
  	}
}
.login-logo,
.register-logo {
  	font-size: 35px;
  	text-align: center;
  	margin-bottom: 25px;
  	font-weight: 300;
	color:#fff;
}
.login-logo a,
.register-logo a {
  	color: #fff;
}
.login-box-body,
.register-box-body {
  	background: #fff;
  	padding: 20px;
  	border-top: 0;
  	color: #666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  	color: #777;
}
.login-box-msg,
.register-box-msg {
  	margin: 0;
  	text-align: center;
  	padding: 0 20px 20px 20px;
}
.form-control {
  	border-radius: 0;
  	box-shadow: none;
}
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
  	color: #bbb;
  	opacity: 1;
}
.text-red {
	color:#FF0000
}
.jrequired label {
	font-weight:300!important;
	font-size:12px;
}